*{
  margin: 0;
  padding: 0;
}
body{
background-color: black;
color: white;
text-align: center;
}
#header{
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
 letter-spacing: 10px;
 background-color: aquamarine;
  color: black;
  height: 100px;
  line-height: 90px;
  animation: typing 2s,cursor .2s step-end infinite alternate;
}

#question{
  margin-top: 15px;

}

.input{
  margin-top: 10px;
}

@keyframes cursor {
  50%{
      border-color: transparent;
  }
}

@keyframes typing {
  from{width: 0;}
}
